<a href="https://colab.research.google.com/github/reshminambiar/MongoDBTask/blob/main/MongoDB_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#TASK 1

In [ ]:
from pymongo import MongoClient

In [ ]:
con_obj = MongoClient('mongodb://root:Gwalior22@cluster0-shard-00-00.34uya.mongodb.net:27017,cluster0-shard-00-01.34uya.mongodb.net:27017,cluster0-shard-00-02.34uya.mongodb.net:27017/?ssl=true&replicaSet=atlas-t5cixz-shard-0&authSource=admin&retryWrites=true&w=majority')

In [ ]:
db = con_obj['sample_db']

In [ ]:
col_obj = db['address_collection']

In [ ]:
db.list_collection_names()

['address_collection']

In [ ]:
address = [{'name':'Akash', 'phone':'7792342423', 'place':'Chennai'},{'name':'Raju', 'phone':'7792342483', 'place':'Kolkata'},{'name':'Piyush', 'phone':'7783342483', 'place':'Allahabad'}]

In [ ]:
col_obj.insert_many(address)

In [ ]:
#View the inserted records
for i in col_obj.find():
    print(i)

{'_id': ObjectId('63411b5c6445fa959850ed6c'), 'name': 'Akash', 'phone': '7792342423', 'place': 'Chennai'}
{'_id': ObjectId('63411b5c6445fa959850ed6d'), 'name': 'Raju', 'phone': '7792342483', 'place': 'Kolkata'}
{'_id': ObjectId('63411b5c6445fa959850ed6e'), 'name': 'Piyush', 'phone': '7783342483', 'place': 'Allahabad'}

In [ ]:
#Updating the place as 'Banglore' for the name:'Akash'
col_obj.update_one({"name":"Akash"},{'$set':{'place':'Banglore'}})

In [ ]:
#We can see the updation
for i in col_obj.find():
    print(i)

{'_id': ObjectId('63411b5c6445fa959850ed6c'), 'name': 'Akash', 'phone': '7792342423', 'place': 'Banglore'}
{'_id': ObjectId('63411b5c6445fa959850ed6d'), 'name': 'Raju', 'phone': '7792342483', 'place': 'Kolkata'}
{'_id': ObjectId('63411b5c6445fa959850ed6e'), 'name': 'Piyush', 'phone': '7783342483', 'place': 'Allahabad'}

In [ ]:
#Deleting the record with place as 'Kolkata'
col_obj.delete_one({"place":"Kolkata"})

In [ ]:
#checking the results
for i in col_obj.find():
    print(i)

{'_id': ObjectId('63411b5c6445fa959850ed6c'), 'name': 'Akash', 'phone': '7792342423', 'place': 'Banglore'}
{'_id': ObjectId('63411b5c6445fa959850ed6e'), 'name': 'Piyush', 'phone': '7783342483', 'place': 'Allahabad'}

#TASK 2

In [ ]:
from pymongo import MongoClient
import json

In [ ]:
con_obj = MongoClient('mongodb://root:Gwalior22@cluster0-shard-00-00.34uya.mongodb.net:27017,cluster0-shard-00-01.34uya.mongodb.net:27017,cluster0-shard-00-02.34uya.mongodb.net:27017/?ssl=true&replicaSet=atlas-t5cixz-shard-0&authSource=admin&retryWrites=true&w=majority')

In [ ]:
db_1 = con_obj['task2']

In [ ]:
col_obj = db_1['students']

In [ ]:
f = open('/content/students (1).json')
data = json.load(f)

In [ ]:
col_obj.insert_many(data)

In [ ]:
db_1.list_collection_names()

['students']

In [ ]:
for i in col_obj.find():
    print(i)

In [ ]:
agg_results = col_obj.aggregate([
   {
    "$group": {
      "_id": "$_id",
      "scores": {
        "$first": "$scores"
      },
      "data": {
        "$push": "$$ROOT"
      }
    }
  },
  {
    "$unwind": "$data"
  },
  {
    "$match": {
      "data.scores.type": "exam"
    }
  },
  {
    "$sort": {
      "data.scores.score": -1
    }
  },
  {
    "$project": {
      "_id": 1,
      "name": "$data.name",
      "scores": "$scores"
    }
  },
  {
    "$limit": 1
  }
])

In [ ]:
for i in agg_results:
    print(i)

{'_id': 69, 'name': 'Cody Strouth', 'scores': [{'score': 4.784730508547719, 'type': 'exam'}, {'score': 99.80348240553108, 'type': 'quiz'}, {'score': 97.89665889862901, 'type': 'homework'}]}